$schema: "http://json-schema.org/draft-07/schema#"
title: LlamaFarm Config
type: object
required:
  - version
  - name
  - namespace
  - prompts
  - rag
  - datasets
  - models
properties:
  version:
    type: string
    enum: ["v1"]
    default: v1
    description: Config version, must be "v1"
  name:
    type: string
    description: Project name
    example: my-project
  namespace:
    type: string
    description: Project namespace
    example: my-namespace
  prompts:
    type: array
    items:
      type: object
      required:
        - prompt
      properties:
        name:
          type: string
          description: Prompt name
        prompt:
          type: string
          description: Prompt text
        description:
          type: string
    default: []

  rag:
    $ref: "../rag/schema.yaml"

  datasets:
    type: array
    description: List of dataset configurations
    items:
      type: object
      required:
        - name
        - files
      properties:
        name:
          type: string
          description: Dataset name
        rag_strategy:
          type: string
          description: RAG strategy to use for the dataset
          default: auto
        files:
          type: array
          description: List of file hashes
          items:
            type: string
            description: sha256 of the file content (e.g., "2b3e321d021e5c625a4a003f0624801fa46faab59b530caddcd65a5c106b8a17")
          default: []
    default: []

  models:
    type: array
    description: List of model configurations
    items:
      type: object
      required:
        - provider
        - model
      properties:
        provider:
          type: string
          enum: ["openai", "anthropic", "google", "local", "custom"]
          default: local
        model:
          type: string
          description: Model name or ID
